---
import Section from "../Section.astro";
---

<Section color="primary">
  <section class="py-40 text-white">
    <div class="container mx-auto">
      <div class="grid grid-cols-3">
        <div class="text-4xl">Let's Talk</div>
      </div>
    </div>
  </section>
</Section>
