---
import ServiceCard from "../cards/ServiceCard.astro";
---

<section>
  <div class="container mx-auto">
    <div class="h-screen flex flex-col justify-center items-center">
      <div class="section-name text-center mb-5">What we do</div>
      <div class="section-title text-center max-w-[50vw]">
        We Manage Lead Logistics For World's Multinational Companies
      </div>
      <div class="grid grid-cols-4 mt-20 gap-10">
        <ServiceCard title="Road" icon="truck" pack="ph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod unde
          voluptatem error quibusdam commodi in quaerat nam adipisci corporis
          distinctio?
        </ServiceCard>
        <ServiceCard title="Air" icon="plane" pack="jam">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod unde
          voluptatem error quibusdam commodi in quaerat nam adipisci corporis
          distinctio?
        </ServiceCard>
        <ServiceCard title="Sea" icon="ship-line" pack="ri">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod unde
          voluptatem error quibusdam commodi in quaerat nam adipisci corporis
          distinctio?
        </ServiceCard>
        <ServiceCard title="Int" icon="modernweb" pack="file-icons">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod unde
          voluptatem error quibusdam commodi in quaerat nam adipisci corporis
          distinctio?
        </ServiceCard>
      </div>
    </div>
  </div>
</section>
