---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
---

<Layout title="AWC" description="AWC">
  <Navbar />
  <main>
    <Header />
  </main>
</Layout>
