---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import HeaderSection from "../components/sections/HeaderSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import Background from "../components/Background.astro";
import ServicesSection from "../components/sections/ServicesSection.astro";
---

<Layout title="AWC" description="AWC">
  <Navbar />
  <main>
    <Background color="light">
      <HeaderSection />
    </Background>
    <Background color="dark">
      <AboutSection />
      <ServicesSection />
    </Background>
  </main>
</Layout>
