---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="AWC" description="AWC">
	<Navbar />
	<main>
		<h1 class="text-red-500"></h1>
	</main>
</Layout>

