---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/core/Navbar.astro";
import HeaderSection from "../components/sections/HeaderSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import Section from "../components/Section.astro";
import ServicesSection from "../components/sections/ServicesSection.astro";
import Footer from "../components/core/Footer.astro";
---

<Layout title="AWC" description="AWC">
  <Navbar />
  <main>
    <Section color="light">
      <HeaderSection />
    </Section>
    <Section color="dark" gap={30}>
      <AboutSection />
      <ServicesSection />
    </Section>
  </main>
  <Footer />
</Layout>
