---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import HeaderSection from "../components/HeaderSection.astro";
import InfoSection from "../components/InfoSection.astro";
---

<Layout title="AWC" description="AWC">
  <Navbar />
  <main>
    <HeaderSection />
    <InfoSection />
  </main>
</Layout>
