---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="flex items-center gap-5">
  <div class="text-5xl text-primary font-bold">{title}</div>
  <p class="pr-60">
    <slot />
  </p>
</div>
