---
type Background = "default" | "light" | "dark";
type BG = { [key in Background]: string };

export interface Props {
  color?: Background;
}

const color = Astro.props.color || "default";

const bg: BG = {
  default: "white",
  light: "#FFF5E4",
  dark: "#FFEFDA",
};
---

<section style={`background: ${bg[color]};`}>
  <slot />
</section>
