---
import { Icon } from "astro-icon";
import CustomerCard from "./CustomerCard.astro";
---

<section class="container mx-auto">
  <div class="h-[calc(100vh-100px)] flex flex-col">
    <div class="flex-1">
      <div class="h-full flex-1 flex flex-col items-start justify-center">
        <div class="-mt-[0px] flex flex-col items-start justify-center gap-16">
          <h1 class="text-6xl leading-[1.25] font-semibold">
            One-stop solution <br /> for all your logistics <br /> requirements
          </h1>
          <div class="flex items-center justify-start gap-5">
            <button
              class="bg-primary border border-black px-8 py-4 text-white btn"
              >Get Started</button
            >
            <button
              class="px-8 py-3 flex items-center gap-3 border border-black btn"
            >
              <span>Request a quote</span>
              <Icon pack="mdi" name="arrow-right-thin" size={30} />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="py-10">
      <div class="text-2xl font-medium">Trusted by 20,000+ customers</div>
      <div class="flex items-center mt-5 gap-5">
        <CustomerCard label="Google" icon="google" />
        <CustomerCard label="Facebook" icon="facebook" />
        <CustomerCard label="Twitter" icon="twitter" />
        <CustomerCard label="Youtube" icon="youtube" />
      </div>
    </div>
  </div>
</section>

<style>
  .btn {
    box-shadow: 5px 5px 0px black;
  }
  .btn:hover {
    @apply hover:translate-x-[4px] hover:translate-y-[4px];
    box-shadow: 1px 1px 0px black;
  }
</style>
