---
import NavbarButton from "./NavbarButton.astro";
---

<nav class="w-full h-[100px]">
  <div
    class="container mx-auto flex items-center justify-between w-full h-full"
  >
    <div class="w-full h-full">
      <div class="">Logo</div>
    <div class="flex items-center justify-center gap-10">
    <NavbarButton label="Home" href="/" />
    <NavbarButton label="About" href="/" />
    <NavbarButton label="Service" href="/" />
    <NavbarButton label="Support" href="/" />
    <NavbarButton label="Contact" href="/" />
    </div>
    </div>
  </div>
</nav>
