---
export interface Props {
  center?: boolean;
}

const { center } = Astro.props;
---

<div
  class:list={[
    "text-5xl font-semibold leading-[1.25]",
    { "text-center": center },
  ]}
>
  <slot />
</div>
